---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

import { setBasePath } from "@shoelace-style/shoelace/dist/utilities/base-path.js";
setBasePath("dist/assets");
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<sl-button>Button</sl-button>
			<sl-tooltip content="This is a tooltip">
				<sl-button>Hover Me</sl-button>
			</sl-tooltip>
			<sl-dropdown>
				<sl-button slot="trigger" caret>Edit</sl-button>
				<sl-menu>
					<sl-menu-item value="cut">Cut</sl-menu-item>
					<sl-menu-item value="copy">Copy</sl-menu-item>
					<sl-menu-item value="paste">Paste</sl-menu-item>
				</sl-menu>
			</sl-dropdown>			

			<h1>🧑‍🚀 Hello, Astronaut!</h1>
			<p>
				Welcome to the official <a href="https://astro.build/">Astro</a> blog starter template. This
				template serves as a lightweight, minimally-styled starting point for anyone looking to build
				a personal website, blog, or portfolio with Astro.
			</p>
			<p>
				This template comes with a few integrations already configured in your
				<code>astro.config.mjs</code> file. You can customize your setup with
				<a href="https://astro.build/integrations">Astro Integrations</a> to add tools like Tailwind,
				React, or Vue to your project.
			</p>
			<p>Here are a few ideas on how to get started with the template:</p>
			<ul>
				<li>Edit this page in <code>src/pages/index.astro</code></li>
				<li>Edit the site header items in <code>src/components/Header.astro</code></li>
				<li>Add your name to the footer in <code>src/components/Footer.astro</code></li>
				<li>Check out the included blog posts in <code>src/content/blog/</code></li>
				<li>Customize the blog post page layout in <code>src/layouts/BlogPost.astro</code></li>
			</ul>
			<p>
				Have fun! If you get stuck, remember to <a href="https://docs.astro.build/"
					>read the docs
				</a> or <a href="https://astro.build/chat">join us on Discord</a> to ask questions.
			</p>
			<p>
				Looking for a blog template with a bit more personality? Check out <a
					href="https://github.com/Charca/astro-blog-template"
					>astro-blog-template
				</a> by <a href="https://twitter.com/Charca">Maxi Ferreira</a>.
			</p>
		</main>
		<Footer />
	</body>
</html>

<script>
	import "@shoelace-style/shoelace/dist/components/button/button.js";
	import "@shoelace-style/shoelace/dist/components/dropdown/dropdown.js";
	import "@shoelace-style/shoelace/dist/components/menu/menu.js";
	import "@shoelace-style/shoelace/dist/components/menu-item/menu-item.js";
	import "@shoelace-style/shoelace/dist/components/tooltip/tooltip.js";


	// Can't use this whole import because the background black and white background transitions
	// stop working
	// import "@shoelace-style/shoelace"
	const duration = 3000;
	import { setDefaultAnimation } from "@shoelace-style/shoelace/dist/utilities/animation-registry.js";
	setDefaultAnimation("tooltip.show", {
		keyframes: [
			{ opacity: 0, scale: 0.8 },
			{ opacity: 1, scale: 1 },
		],
		options: { duration: duration, easing: "ease" },
	});

	setDefaultAnimation("tooltip.hide", {
		keyframes: [
			{ opacity: 1, scale: 1 },
			{ opacity: 0, scale: 0.8 },
		],
		options: { duration: duration, easing: "ease" },
	});
</script>
